%h2= @robot.name
%img{class: "img-responsive img-thumbnail", src: "https://robohash.org/#{@robot.id}.png", alt: "Avatar"}
%p= "#{@robot.city}, #{@robot.state}"
%dl{class: "dl-horizontal"}
  %dt Birthdate
  %dd= @robot.birthdate
  %dt Date of Hire
  %dd= @robot.hired_date
  %dt Department
  %dd= @robot.department
%a{class: "btn btn-primary", href: "/robots/#{@robot.id}/edit"} edit
%br
%br
%form{action: "/robots/#{@robot.id}", method: "POST"}
  %input{type: "hidden", name: "_method", value: "DELETE"}
  %input{class: "btn btn-danger", type: "submit", value: "delete"}
%br
